<%- include('partials/header'); %>

<main>
  <a class="back" href="/">Back</a>
  <h2><%- data.title %></h2>

  <img
    src="<%- data.images.downsized_large.url+'&forcache' %>"
    alt="<%- data.title %>"
  />

  <p>Posted by: <span><%- username %></span></p>

  <section id="description">
    <p>Upload date & time: <datetime><%- data.import_datetime %></datetime></p>
    <p>
      Trending date & time: <datetime><%- data.trending_datetime %></datetime>
    </p>
  </section>
</main>

<%- include('partials/footer'); %>
