<%- include('partials/header'); %>

<main>
  <section id="gallery">
    <ul>
      <% data.forEach(giphy => { %>

      <li>
        <!-- <img
          src="<%- giphy.images.fixed_height.url %>"
          alt="<%- giphy.title %> "
        /> -->
        <img
          src="<%- giphy.images.fixed_width.url %>"
          alt="<%- giphy.title %> "
        />
        <a href="/detail/<%- giphy.id %>/<%- giphy.username %>"> More... </a>
      </li>

      <% }); %>
    </ul>
  </section>
</main>
<%- include('partials/footer'); %>
