<%- include('partials/header'); %>

<main>
  <section id="gallery">
    <% data.forEach(giphy => { %>
    <article>
      <picture class="fixed-ratio" style="padding-bottom: 41%">
        <source
          srcset="<%- giphy.images.fixed_width.webp %>"
          type="image/webp"
        />
        <img
          src="<%- giphy.images.fixed_width.url %>"
          alt="<%- giphy.title %> "
          class="fixed-ratio-content"
        />
      </picture>
      <a href="/detail/<%- giphy.id %>/<%- giphy.username %>"> More... </a>
    </article>
    <% }); %>
  </section>
</main>
<%- include('partials/footer'); %>
