<%- include('partials/header'); %>
<p><%- pageDescription %></p>

<ul>
  <% data.forEach(giphy => { %>

  <li>
    <img src="<%- giphy.images.fixed_height.url %>" alt="<%- giphy.title %> " />
    <a href="/detail/<%- giphy.id %>"> More... </a>
  </li>

  <% }) %>
</ul>
<%- include('partials/footer'); %>
