<%- include('partials/header'); %>

<main>
  <ul>
    <% data.forEach(giphy => { %>

    <li>
      <img
        src="<%- giphy.images.fixed_height.url %>"
        alt="<%- giphy.title %> "
      />
      <a href="/detail/<%- giphy.id %>/<%- giphy.username %>"> More... </a>
    </li>

    <% }) %>
  </ul>
</main>
<%- include('partials/footer'); %>
